.header {
  display: flex;
  justify-content: space-between;
}

.header-menu {
  margin: 0;
}

.header-menu li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

.header-callNum h3 {
  margin: 0;
}

.footer {
  display: flex;
}

.footer-menu {
  margin: 0;
  list-style-type: none;
}

.footer-callNum h3 {
  margin: 0;
}
